<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>App</title>
  <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
{{ message }}
<script src="js/scripts.js"></script>
</body>
</html>
